<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MetaScraper</title>
    <meta name='description' content='MetaScraper - Get Meta tags from any website to create rich previews!'>
    <meta property='og:title' content='MetaScraper'>
    <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="styles/index.css") }}'>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous"></script>
  
</head>
<body>
    <nav class='Nav'>
        <a class='nostyle' href='/'><h1 class='Brand'>MetaScraper.io</h1><a>
        <ul class='items'>
          <li class='nostyle nav-item'><div class='htrigger'><a class='nostyle nav-text' href='/SourceCode'>Source code</a><div class='nav-highlight'></div></li></div>
          <li class='nostyle nav-item'><div class='htrigger'><a class='nostyle nav-text' href='/login'>Get a token</a><div class='nav-highlight'></div></li></div>
          <li class='nostyle nav-item'><div class='htrigger'><a class='nostyle nav-text' href='/Docs'>Documentation</a><div class='nav-highlight'></div></li></div>
        </ul>
          <li class='mobile-nav nav-item'>
              <svg width="39" height="30" viewBox="0 0 39 30" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M39 6.15H0V0.375H39V6.15ZM39 11.925H0V17.7H39V11.925ZM39 23.475H0V29.25H39V23.475Z" fill="#FFD369"/>
            </svg></li>
    </nav>
  
<div class='mobile-menu'>
  <ul>
    <li class='nostyle mobile-menu-li'><a class='nostyle mobile-menu-item' href='/Docs'>Documentation</a></li>
    <li class='nostyle mobile-menu-li'><a class='nostyle mobile-menu-item' href='/Token'>Get a token</a></li>
    <li class='nostyle mobile-menu-li'><a class='nostyle mobile-menu-item' href='https://github.com/V3LKR0W/MetaScraper'>Source code</a></li>
  </ul>
</div>
 
<div class='main'>
  <h1 class='header-main'>MetaScraper.io</h1>
  <h1 class='subheader'>Looks like we aren't in 2008 anymore, display content easier in your applications!</h1>
  
   <div class='reddit-wrapper'>
    <img class='meta-image' alt='meta-image' src='{{img}}'>
    <div class='meta-text'>
      <p class='text header'>
        {{title}}
      </p>
      <p class='text content'>
        {{description}}
      </p>
      <br>
      <a href='{{url}}'><footer class='text source'>  
      Source {{source}}
      </footer>
     </a>
     </div>
  </div>
  
  
</div>

  
<script>
  // Mobile Dropdown
  const navbtn = document.getElementsByClassName('mobile-nav')[0];
  const navmenu = document.getElementsByClassName('mobile-menu')[0];
  
  let opened = false;
  navbtn.addEventListener('click',function(){
    if(opened == true){
      console.log('close');
      opened = false;
        anime({
        targets: navmenu,
        right: '0px',
        top: '0px',
        backgroundColor: 'rgba(34, 40, 49, 0.8)',
        opacity: 0,
        borderRadius: ['5%', '0%'],
        easing: 'linear',
        height: ['40%', '0%'],
        duration: 300,
        complete: function() {
          navmenu.style.display = 'none';
      },
      });
    }else{
      console.log('open');
      opened = true;
      navmenu.style.display = 'block';
      anime({
        targets: navmenu,
        right: '0px',
        top: '50px',
        opacity: 1,
        backgroundColor: 'rgba(34, 40, 49, 1)',
        height: ['0%', '40%'],
        borderRadius: ['0%', '5%'],
        easing: 'linear',
        duration: 300,
      });
    };
  })
</script>
  
  
<div class='waves'>
<svg class='dark-waves' viewBox="0 0 1920 113" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 5.30016L107 3.19756C213 0.861334 427 -3.57749 640 5.30016C853 14.4114 1067 36.8392 1280 43.3806C1493 50.1556 1707 41.278 1813 36.8392L1920 32.1667V113H1813C1707 113 1493 113 1280 113C1067 113 853 113 640 113C427 113 213 113 107 113H0V5.30016Z" fill="#5A86A4"/>
</svg>
<svg class='light-waves' viewBox="0 0 1920 162" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 6.66037L107 4.01817C213 1.08238 427 -4.4956 640 6.66037C853 18.1099 1067 46.2934 1280 54.5136C1493 63.0274 1707 51.8714 1813 46.2934L1920 40.4219V142H1813C1707 142 1493 142 1280 142C1067 142 853 142 640 142C427 142 213 142 107 142H0V6.66037Z" fill="#6DA5CA"/>
</svg>
</div>

<div data-aos="zoom-out-down">
  <h1 class='Secondary-Header'>Documentation</h1>

  <div>
    <p class='p-text'>
      Well this will probably be short.. The request to the API only requires two arguments, your Key and the destination url.
    </p>
    <h1 class='doc-header'>Here's an example request:</h1>
      <img class='image' src='{{ url_for("static", filename="img/postrequest.png") }}' alt='request image'>

    <h1 class='doc-header'>Here's the response from the API</h1>
      <img class='image' src='{{ url_for("static", filename="img/response.png") }}' alt='response image'>
  </div>
<div class='waves'>
  <svg class='dark-waves' viewBox="0 0 1920 113" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M0 5.30016L107 3.19756C213 0.861334 427 -3.57749 640 5.30016C853 14.4114 1067 36.8392 1280 43.3806C1493 50.1556 1707 41.278 1813 36.8392L1920 32.1667V113H1813C1707 113 1493 113 1280 113C1067 113 853 113 640 113C427 113 213 113 107 113H0V5.30016Z" fill="#5A86A4"/>
  </svg>
  <svg class='light-waves' viewBox="0 0 1920 162" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M0 6.66037L107 4.01817C213 1.08238 427 -4.4956 640 6.66037C853 18.1099 1067 46.2934 1280 54.5136C1493 63.0274 1707 51.8714 1813 46.2934L1920 40.4219V142H1813C1707 142 1493 142 1280 142C1067 142 853 142 640 142C427 142 213 142 107 142H0V6.66037Z" fill="#6DA5CA"/>
  </svg>
  </div>

<div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
  <h1 class='Secondary-Header'>Concepts</h1>
      <div class='concept-wrapper'>
        <iframe class='meta-video' alt='meta-video' src='{{video_video}}'></iframe>
        <div class='meta-text'>
          <p class='text header'>
            {{video_title}}
          </p>
          <p class='text content'>
            {{video_description}}
          </p>
          <br>
          <a href='{{video_url}}'><footer class='text source'>  
          Source {{video_source}}
          </footer>
        </a>
        </div>
</div>


<div data-aos="fade-up" data-aos-anchor-placement="top-bottom">
  <div class='concept-wrapper'>
    <iframe class='meta-video' alt='meta-audio' src='{{audio_audio}}'></iframe>
    <div class='meta-text'>
      <p class='text header'>
        {{audio_title}}
      </p>
      <p class='text content'>
        {{audio_description}}
      </p>
      <br>
      <a href='{{audio_url}}'><footer class='text source'>  
      Source {{audio_source}}
      </footer>
    </a>
    </div>
</div>
  





<footer class='footer'>Made with 💖 by <a class='nostyle footer' href='https://twitter.com/V3LKR0W'>@V3LKR0W</a></footer>
<script>
  // Scroll Animate
  AOS.init();
</script>

<script>
  // Delay Reveal
  ScrollReveal().reveal('.header-main', {delay: 100});  
  ScrollReveal().reveal('.subheader', {delay: 1000});  
  ScrollReveal().reveal('.reddit-wrapper', {delay: 1500}); 
</script>
</body>
</html>