@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/*
Desktop/ Default styling
*/

body{
    background-color: #393E46;
    margin:0;
    padding: 0;
    overflow-x: hidden;
}

.Nav{
  display: fixed;
  background-color: #222831;
  width: 100%;
  height: auto;
  padding-top:5px;
  padding-bottom: 10px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #6DA5cA;
}

.nostyle{
  text-decoration: none;
  list-style-type: none;
}

.items{
  display: inline;
}

.Brand{
  display: inline;
  font-family: 'Open Sans', sans-serif;
  color: #FFD369;
  font-size: 30px;
  padding-right: auto;
  padding-left: 40px;
}

.nav-item{
  padding-left: 40px;
  display: inline;
  float: right;
}

.nav-text{
  font-family: 'Open Sans', sans-serif;
  color: #FFD369;
  font-size: 30px;
  font-weight: 200;
  margin-right: 30px;
}

.nav-highlight{
  background-color: white;
  height: 1px;
  width: 0px;
  transition-timing-function: ease-out;
  transition: all 1s;
}

.mobile-menu{
  display: none;
  position: absolute;
  right: 0;
  background-color: rgba(34, 40, 49, 0.5);
  width: 60%;
  margin-right: 20px;
}

.mobile-menu-li{
  margin-top: 20px;
}

.mobile-menu-item{
  position: relative;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-decoration: underline;
  color: #FFD369;
}

.header-main{
  text-align: center;
  color: #FFD369;
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
}

.subheader{
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.meta-image{
  display:inline;
  width: 200px;
  height: auto;
  border-radius: 15px;
  padding-right: 20px;
}

.header{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.meta-text{
  display:inline-block;
  padding-right:20px;
  height: auto;
}

.reddit-wrapper{
  display: flex;
  position: relative;
  height: auto;
  width: 600px;
  margin-top: 200px;
  text-align: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color: rgba(0,0,0,.5);
}

.concept-wrapper{
  display: flex;
  position: relative;
  height: auto;
  width: 600px;
  margin-top: 200px;
  text-align: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color: rgba(0,0,0,.5);
}

.meta-video{
  border: 0;
  width: 200px;
  height: auto;
  border-radius: 15px;
}

.text{
  color: white;
}

.header{
  font-size: 20px;
}

.content{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.mobile-nav{
  display: none;
}

.source{
  position: absolute;
  bottom: 0;
  right: 0;
  text-decoration: underline;
  padding-bottom: 10px;
  font-size: 13px;
  margin-right: 10%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.light-waves{
  margin-top:-90px;
}

.page-break{
  display: block;
  background-color: #222831;
  width: 100%;
  height: 40px;
  margin-top: -12px;
  padding-bottom: 40px;
}

.Secondary-Header{
  color: #FFD369;
  text-align: center;
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
}

.doc-header{
  color: #FFD369;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
}

.p-text{
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #FFFFFF;
}

.code-block{
  display: block;
  margin: 0 auto;
  width: 1000px;
  height: auto;
  background-color: rgb(0, 0, 0);
}
.align-left{
  text-align: left;
}
.align-center{
  text-align: center;
}

.code-text{
  font-size: 20px;
  color: rgb(10, 194, 154);
  line-height:30px;
}

.footer{
  margin-top:50px;
  text-align: center;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}

/*
Animations
*/
.htrigger:hover .nav-highlight{
  width:45%;
}

/* 
Moblile resizing
*/
@media only screen and (max-width: 1043px) {
  
  .Brand{
    padding-right: auto;
    font-size: 20px;
    margin-left: 0px;
  }
  
  .mobile-nav{
    display: inline;
    margin-right: -70px;
  }
  
  .nav-text{
    display: none;
  }
  
  .header-main{
    font-size: 40px;
  }
  
  .subheader{
    font-size: 25px;
  }
  
  .reddit-wrapper{
    width: 360px;
  }
  
  
  .dark-waves{
    width: 100%;
    height: 100%;
  }
  
  .light-waves{
    width: 100%;
    height: 120%;
  }
  
}